* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}
#navbar {
  position: sticky;
  top: 0;
  display: flex;
  background: linear-gradient(151deg, rgba(4, 129, 115, 1) 7%, rgba(255, 255, 255, 1) 47%, rgba(125, 86, 180, 0.9839286056219363) 94%);
  justify-content: space-between;
  align-items: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#logo {
  margin-left: 5%;
  justify-content: center;
}
#logoImg {
  width: 80px;
  border-radius: 10%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#navOptions {
  margin-right: 3%;
  display: flex;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
}
#navOptions > a > button {
  font-size: 18px;
  margin: 15px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius:5px 20px;
  padding: 5%;
  background-color: transparent;
  width: 100px;
  white-space: nowrap;
  
}
#navOptions > a > button:hover {
  background-color: #00baf2;
  border-radius: 20px 5px;
  cursor: pointer;
}
@media all and (max-width: 1000px) {
  #navOptions {
    overflow: auto;
    white-space: nowrap;
  }
}
